@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&family=Roboto:wght@500;700;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
    font-family: "Quicksand", sans-serif;

}

.page-container {
    display: flex;
  }