@import "base.css";
@import "sidebar.css";

* {
  box-sizing: border-box;
}

/*  Flexbox */

.page-container {
  display: flex;
}

.container-header {
  background-color: #fdf1eb;
  display: flex;
  max-width: 100vw;
  max-height: 68px;
}

.user-info {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.break-line {
  display: block;
}


/* Fim */


/* Fim */

.btn-idioms {
  margin-right: 20px;
}
.text-user {
  text-align: right;
}
