@import "reset.css";
@import "base.css";
@import "sidebar.css";
@import "header.css";
@import "main-content-header.css";
@import "video-details.css";
@import "resume.css";
@import "discussion.css";
@import "comment.css";
@import "footer.css";

/* Answers */

.answers {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 4px;
  height: 148px;
  padding: 24px;
  width: 98%;
  margin: 0 auto;
  border: 1px solid #e7e7e7;
  border-radius: 0px;
}

.comment-author__style {
  background: #f8f8f8;
}

.answer-comment {
  font-weight: 700;
  font-size: 12px;
}

.answer-comment {
  font-size: 14px;
}

.coauthor-answer__icon1 {
  content: url(../img/Coautor.svg);
  width: 70px;
  height: 18px;
}

.coauthor-answer__icon2 {
  content: url(../img/sure.svg);
  margin-left: 13px;
}

.author-answer__icon1 {
  content: url(../img/Autor.svg);
  width: 48px;
  height: 18px;
}

.author-answer__icon2 {
  content: url(../img/sure.svg);
  margin-left: 13px;
}

.container-author__header {
  display: flex;
  justify-content: space-between;
}
